@import '../../styles/index.scss';

.fullpageWrapper {
    overscroll-behavior-y: contain;
    height: calc(100vh - calc(100vh - 100%));
    position: fixed;
    inset: 0;
    animation: fadein .4s ease-in-out backwards .4s;

    .sectionContainer {
        z-index: 4;
        position: relative;

        .section {
            position: relative;
            background-position: center center;
            background-size: cover;
            width: 100vw;
            height: 100vh;

            &::after {
                content: "";
                position: absolute;
                z-index: 5;
                inset: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.68) 100%);
            }

            @include md {
                background-position: center left;
            }

            .sectionImg {
                position: absolute;
                inset: 0;
                width: 100vw;
                height: 100vh;
                img {
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }


    .container-xl {
        inset: 0;
        height: 100vh;
        position: absolute;


        .controller {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 7;
            transform: translateY(-50%);

            @include md {
                display: none;
            }

            .controllerItem {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $COLOR_WHITE;
                opacity: .4;
                margin: 22px 10px;
                cursor: pointer;
                @include transitionLow;

                &.active {
                    opacity: 1;
                }
            }
        }

        .socialMedia {
            position: absolute;
            z-index: 6;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            & > div {
                flex-direction: column;

                a {
                    margin: 20px 0;

                    svg {
                        width: 32px;
                        height: 32px;
                    }

                    @include hoverEffect
                }
            }

            @include md {
                display: none;
            }
        }

        .goAhead {
            position: absolute;
            user-select: none;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 6;

            // @media (max-width: 450px) {
            //     bottom: 70px;
            // }
        }

        .foollpageBottom {
            position: absolute;
            bottom: 46px;
            left: 0;
            right: 0;
            z-index: 6;

            // @media (max-width: 450px) {
            //     display: none;
            // }
        }
    }
}
