@import "../../styles/index.scss";

.wrraper {
    // padding: 40px 0;
    padding-bottom: 40px;
    min-height: calc(100vh - 159px);
    color: $COLOR-COD-GRAY;

    .catalogList {
       // min-height: calc(100vh - 229px);
    }
}

