@import "../../styles/index.scss";

.contentRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $COLOR-SILVER;
    height: 40px;
    padding-top: 4px;
    padding-left: 5px;

    .contentColumn {
        flex: 1;

        &:last-child {
            flex: 2;
        }
    }
}