@import "../../styles/index.scss";

.contentRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $COLOR-MERCURY;
    min-height: 40px;
    padding: 12px 5px;

    .contentColumn {
        flex: 1;
        font-size: ptr(14);
        line-height: 24px;

        &:last-child {
            flex: 2;
            margin-left: 18px;
        }
    }
}