.hideContent {
    width: 90px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
    .categoryContent { 
        display: none;
    }

    .content {
        transform: rotate(270deg) translateX(-200px);

        h3 {
            width: 300px;
        }
    }
}

.fullConetnt {
    width: 300px;
    background-color: rgb(206, 206, 206);
}


.content {
    height: 100%;
}