@import "../../styles/index.scss";

.hideContent {
    
    width: 90px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    .categoryContent { 
        display: none;
      
    }

    .content {
        transform: rotate(270deg) translateX(-200px);
     

    .hideContent {
        width: 90px;

        .categoryContent { 
            display: none;
        }
    
        .content {
            transform: rotate(270deg) translateX(-200px);
    
            h3 {
                width: 300px;
            }
        }
    }
}

.fullConetnt {
    width: 300px;

    transition: all .5s ease-in-out;
}

    .fullConetnt {
        width: 300px;
        
        .content {
            margin-top: 36px;
    
            .categoryContent {
                margin-left: 15px;
                cursor: pointer;

                p {
                    margin-bottom: 14px;
                }
            }
        }
    }
    
}
