@import "../../styles/index.scss";

.wrraper {
    height: 100%;

    h3 {
        font-size: 22px;
        line-height: 44px;
        font-style: normal;
        font-weight: normal;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
    }

    .hideContent {
        width: 90px;

        .categoryContent { 
            display: none;
        }
    
        .content {
            transform: rotate(270deg) translateX(-200px);
    
            h3 {
                width: 300px;
            }
        }
    }

    .fullConetnt {
        width: 300px;
        
        .content {
            margin-top: 36px;
    
            .categoryContent {
                margin-left: 15px;
                cursor: pointer;

                p {
                    margin-bottom: 14px;
                }
            }
        }
    }
    
}
