@import "../../styles/index.scss";

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 50px;

    .leftPart {
        flex: 1 1;
        max-width: 500px;
    }
    
    .rightPart {
        flex: 1;
        margin-left: 34px;
        margin-top: 40px;

        .productNamePrice > p {
            font-size: ptr(20);
            line-height: ptr(26);
            margin-bottom: 25px;
        }

        .productNamePrice > p:last-child {
            font-size: ptr(18);
            line-height: auto;
            margin-top: 12px;
            margin-bottom: 45px;
        }

        .productAvailability {
            border-bottom: 1px solid $UI-color4;
            padding-bottom: 7px;
            font-size: ptr(14);
            font-weight: 500;
            .cardAvailabilityRed {
                color: $red-color;
            }
        
            .cardAvailabilityGreen {
                color: $green-color;
            }
        }

        .addButtons {
            margin: 45px 0;
            margin-bottom: 25px;
        }

        .productLink {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            & > p {
                color: $UI-color2;
                font-size: ptr(14);
                font-weight: 500;
                margin-right: 8px;
            }
            
            & > svg {
                width: 18px;
                height: 18px;
            }
        }

        .productDescriptions {
            font-size: ptr(16);
            line-height: ptr(28);
        }
    }

    @include md {
        flex-direction: column;
        align-items: center;

        .leftPart {
            max-width: 700px;
            width: 70%;
        }

        .rightPart {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 600px) {
        .leftPart {
            width: 100%;
        }
    }

    @include sm {
        .rightPart {
            margin-top: 25px;
            .productNamePrice > p {
                font-size: ptr(17);
            }
        }
    }
}