@import "../../styles/index.scss";

.modal {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;

    .modalBackground {
        width: inherit;
        height: inherit;
        background: rgba(31, 31, 31, 0.37);
        position: absolute;
        inset: 0;
        z-index: 200;
    }

    .modalBox {
        width: clamp(440px, 40%, 1000px);
        height: 64%;
        max-height: 750px;
        position: absolute;
        @include flexCenter;
        top: 50%;
        left: 50%;
        z-index: 300;
        border-radius: 24px;
        transform: translate(-50%, -50%);
        @include glassBackground;

        @include md {
            width: 100%;
            height: calc(100vh - 100px);
            margin-top: 100px;
            border-radius: 24px 24px 0 0;
            inset: 0;
            transform: none;
        }

        .modalBoxClose {
            width: 26px;
            height: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 99;
            cursor: pointer;
            @include hoverEffect;

            span {
                width: 22px;
                background-color: $COLOR-WHITE;
                height: 2.5px;
                transform-origin: 11px;
                border-radius: 5px;
                position: absolute;
                left: center;
                top: center;

                &:nth-child(1) {

                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }
            }
        }

        .modalContent {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 30px 0;
            box-sizing: border-box;

            // &::-webkit-scrollbar {
            //     display: none;
            // }

            .shadow {
                position: absolute;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 62px;
                pointer-events: none;

                &.top {
                    top: 0;
                    background: -webkit-linear-gradient(270deg, rgba(89, 89, 89, 0.35), transparent);
                    background: linear-gradient(180deg, rgba(89, 89, 89, 0.35), transparent);
                    opacity: 0;
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                }

                &.bottom {
                    bottom: 0;
                    background: -webkit-linear-gradient(90deg, rgba(89, 89, 89, 0.35), transparent);
                    background: linear-gradient(0deg, rgba(89, 89, 89, 0.35), transparent);
                }
            }

            .modalList {
                height: inherit;
                display: flex;
                flex-flow: column;
                box-sizing: border-box;
                text-align: center;
                max-height: 650px;
                overflow: auto;

                .modalItem {

                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: $COLOR-WHITE;
                        box-sizing: border-box;
                        padding: 5px;
                        margin: 18px 0;
                        font-size: ptr(14);

                        @include hoverEffect;
                    }
                }
            }
        }
    }
}