@import "../../styles/index.scss";

.defaultCard {
    display: inline-block;
    height: fit-content;
    cursor: pointer;
    position: relative;
    animation: fadein .6s forwards;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    .cardLink {
        text-decoration: none;
        color: $COLOR-COD-GRAY;
        user-select: none;

        .cardImage {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            transition: .4s ease-in;
            @include radius-sm;

            & > div {
                will-change: transform;
                transition: all .3s;
                height: 100%;

                img {
                    object-fit: cover !important;
                }
            }

            &:hover {
                & > div {
                    transform: scale(1.13);
                }
            }
        }

        .cardInfo {
            .cardAvailability {
                border-bottom: 2px solid $COLOR-MERCURY;

                p {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    margin: 8px 0;
                }

                .cardAvailabilityRed {
                    color: $COLOR-DANGER;
                }

                .cardAvailabilityGreen {
                    color: $COLOR-SUCCESS;
                }
            }

            .cardName  {
                font-size: 12px;
                font-weight: 600;
                opacity: .8;
                color: $COLOR-COD-GRAY;
                line-height: 26px;
                margin-top: 8px;
                @include textOverflow(2);
                height: 50px;
            }

            .cardCost {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;

            }

            .cardDiscountCost {
                margin-top: 20px;
                width: 100%;
                @include flexCenter;
                position: relative;
                line-height: 20px;

                .cardNewCost {
                    font-size: 16px;
                    font-weight: 600;
                    color: $COLOR-DANGER;
                }

                .cardOldCost {
                    position: absolute;
                    top: -15px;
                    right: 8px;
                    font-size: 13px;
                    font-weight: 600;

                    @include lineThrough;
                }
            }
        }

        .cardNew {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: .88;
            pointer-events: none;
        }

        .imageButton {
            position: absolute;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: .6;
            top: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;

            & > svg {
                width: 20px;
            }

            &:hover {
                opacity: 1;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        .addToCart {
            position: absolute;
            top: 12px;
            left: 12px;
            @include radius-sm;
            background-color: #a0a0a0a3;
            padding: 7px;
            box-sizing: border-box;
            @include flexCenter;
            opacity: 0;
            transition: all .3s ease-in-out;
            width: clamp(34px, 34px, 34px);
            height: clamp(34px, 34px, 34px);;

            &.active {
                opacity: 1;
                background-color: #3d3d3da3;
            }

            &:hover {
                background-color: #3d3d3da3;
            }

            svg {
                width: 100%;
                height: 100%;
            }

            @media (hover: none) {
                opacity: 1;
              }
        }

        &:hover > .addToCart {
            opacity: 1;
        }
    }
}


