@import '../../styles/index.scss';

.form {
    padding-top: 14px;

    .formRow {
        position: relative;
        width: 100%;
        margin-bottom: 10px;     
        
        @include sm {
            margin-bottom: 22px;  
        }
      
        .formRowInput {
            width: 100%;
            height: 32px;
            box-sizing: border-box;
            background-color: transparent;
            border-color: transparent;
            border-bottom: 1px solid $UI-color1;
            margin-bottom: 5px;
            outline: none;
            padding: 0 5px;

            color: $UI-color1;
            font-size: ptr(16);     
            
            &:focus ~ .formRowLabel {
              top: -25px;
              font-size: ptr(13);
            }
        }
        
        .formRowLabel {
            color: $UI-color2;
            font-size: ptr(16);
            line-height: ptr(34);
            position: absolute;
            top: 0;   
            left: 5px;
            transition: all .4s;
            user-select: none;
        }

        .formRowLabelActive {
            top: -25px;
            font-size: ptr(13);
        }

        .formRowError {
            color: #DC143C;
            font-size: ptr(13);
            width: 100%;
            height: 13px;
            text-align: right;
            line-height: ptr(18);

            @include sm {
                font-size: ptr(12);
            }
        }

        .formButton {
            all: unset;
            padding: 14px 42px;
            font-size: ptr(13);
            font-weight: 600;
            border-radius: 42px;
            background-color: $UI-color1;
            color: $UI-color5;
            margin-top: 12px;
        }

        .formButtonDisabled {
            pointer-events: none;
            opacity: .4;
        }
    }
}