@import '../../styles/index.scss';

.form {
    padding-top: 14px;

    .formRow {
        position: relative;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 10px;

            @include sm {
                margin-bottom: 16px;
            }
        }

        .formRowInput {
            width: 100%;
            height: 32px;
            box-sizing: border-box;
            background-color: transparent;
            border-color: transparent;
            border-bottom: 1px solid $COLOR-COD-GRAY;
            margin-bottom: 5px;
            outline: none;
            padding: 0 5px;

            font-weight: 600;
            letter-spacing: .5px;
            color: $COLOR-COD-GRAY;
            font-size: ptr(14);

            &:focus ~ .formRowLabel {
              top: -25px;
              font-size: ptr(13);
            }
        }

        .formRowLabel {
            color: $COLOR-SILVER-CHALICE;
            font-size: ptr(16);
            line-height: ptr(34);
            position: absolute;
            top: 0;
            left: 5px;
            transition: all .4s;
            user-select: none;
        }

        .formRowLabelActive {
            top: -25px;
            font-size: ptr(13);
        }

        .formRowError {
            color: #DC143C;
            font-size: ptr(11);
            width: 100%;
            height: 13px;
            text-align: right;
            line-height: ptr(18);
        }

        .formButton {
            all: unset;
            padding: 14px 42px;
            font-size: ptr(13);
            font-weight: 600;
            border-radius: 42px;
            background-color: $COLOR-COD-GRAY;
            color: $COLOR-WHITE;
            margin-top: 12px;
            cursor: pointer;
        }

        .formButtonDisabled {
            pointer-events: none;
            opacity: .4;
        }
    }

    .alert {
        position: fixed;
        bottom: 60px;
        right: -200px;
        background-color: $COLOR-COD-GRAY;
        color: $COLOR-WHITE;
        padding: 16px 24px;
        border-radius: 4px;
        font-size: ptr(11);
        font-weight: 600;
        box-shadow: 3px 4px 9px 1px rgba(82, 82, 82, 0.44);
        transition: all 0.4s ease-in-out;

        &.active {
            right: 20px;
        }
    }
}