@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


@function ptr($px) {
    @return #{$px/16}rem;
}

// ------------ Variables ------------

$UI-color1: #232021;
$UI-color2: #595755;
$UI-color3: #BBBBBB;
$UI-color4: #E8E8E8;
$UI-color5: #FDFDFD;

$red-color: #DC143C;
$green-color: #2EAE62;

.container {
    max-width: 1110px;
    padding: 0 16px;
    margin: 0 auto;
}

.container-xl {
    max-width: 2620px;
    padding: 0 34px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container-xl {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .container-xl {
        padding: 0 16px;
    }
}

@media (max-width: 580px) {
    .container-xl {
        padding: 0 12px;
    }
}

// ------------ Mixins ------------

@mixin sm {
    @media (max-width: 580px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}



$white: #ffffff;
$darkestgrey: #464646;
$darkergrey: #929292;
$grey: #bcbcbc;
$lightergrey: #dcdcdc;
$lightestgrey: #f8f8f8;

/** gradients **/
$rainbow:     linear-gradient(to right, #F660FF, #65BAFA, #8FEC51);

// *{
//   box-sizing: border-box;
// }

// html, body {
//   height: 100%;
//   font-family: 'Work Sans', sans-serif;
// }
// body{
//   background:$white;
//   margin: 0;
// }
.slider-demo{
  display: flex;
  height: 100vh;
}
.controls{
  background: $lightestgrey;
  float: left;
  order: 1;
  width: 250px;
  padding: 32px 16px;
  .slider__track{
  background-image: linear-gradient(-90deg, #757575 0%, #313131 50%, #AAAAAA 100%);
  }
}
.content{
  order: 2;
  width: calc(100% - 250px);
}

.proplist{
  padding: 0;
  margin: 0;
  &__item{
    list-style: none;
    margin-bottom: 18px;
  }
}
.prop-text{
  margin-bottom: 14px;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  &__label{
    font-weight: 700;
    font-size: 14px;
    color: $darkergrey;
    line-height: 16px;
    float: left;
  }
  &__value{
    float: right;
    font-size: 14px;
    color: $darkergrey;
    line-height: 16px;
    margin: 0;
  }
}
.slider-container{
  margin: 0 auto 66px;
  width: 270px;
}
.slider-value{
  background-image: linear-gradient(90deg, #9A99FC 0%, #67B9FA 50%, #73CBBF 100%);
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 4px;
  width: 90px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: $white;
  margin: 0 auto 16px;
  transition: all .3s;
  &.markers-showing{
    margin-bottom: 32px;
  }
}
.jsx{
  margin: 0 auto;
  width: 570px;
  &__label{
    font-size: 14px;
    margin: 0 0 8px;
  }
}
.code{
  background: $darkestgrey;
  font-family: 'Source Code Pro', sans-serif;
  border-radius: 4px;
  padding: 28px 30px 20px;
  &__text{
    color: $lightestgrey;
    font-size: 14px;
    margin: 0px 0 6px;
    &--indent{
      margin-left:34px;
    }
  }
}