@import '../../styles/index.scss';

.content {
    padding-top: 60px;
    height: auto;
    color: $UI-color1;
    font-weight: 500;

    .steps {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
    }

    .stepContent {
        padding: 100px 0;
    }
    
    .buttonFiled {
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        position: fixed;
        bottom: 0;
        background: $UI-color5;
        .nextButton {
            display: flex;
            justify-content: space-between;
            width: 23%;
        }
        .finalButton {
            display: flex;
            justify-content: center;
            width: auto;
        }
    }
}
