@import '../../styles/index.scss';

.orderNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $COLOR-WHITE;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;

    .orderNavbarRow {
        @include flexBetween;
        user-select: none;

        .orderNavbar__logo {
            margin-right: 12px;
        }

        .orderNavbarExit {

            a {
                @include flexCenter;
                text-decoration: none;
                color: $COLOR-COD-GRAY;

                svg {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-size: 12px;
                    font-weight: 600;
                    margin-left: 8px;
                }
            }
        }
    }
}

.navbarSimulator {
    height: 68px;
}