@import "../../styles/index.scss";

.selectWrapper {
    position: relative;

    .selectTitle {
        color: $COLOR-COD-GRAY;
        display: flex;
        align-items: center;
        cursor: pointer;

        .selectTitleArrow {
            transform: rotate(180deg);
            transition: all .4s ease;
        }

        .selectTitleArrowActive {
            transform: rotate(0);
            transition: all .4s ease;
        }

        & > span {
            font-weight: 600;
            font-size: ptr(12);
            line-height: ptr(20);
            display: inherit;
            align-items: inherit;

            &:first-child {
                margin-right: 14px;
            }
        }
    }

    .selectList, .selectListActive {
        @include glassBackground;
        color: $COLOR-WHITE;
        box-sizing: border-box;
        position: absolute;
        top: 34px;
        width: 225px;
        max-height: 0;
        z-index: 5;
        border: 1px solid $COLOR-SILVER-CHALICE;
        overflow: hidden;
        border-radius: 8px;

        transition: all .4s ease-in-out;

        .selectListItem {
            height: 42px;
            cursor: pointer;
            line-height: 42px;
            padding-left: 17px;
            transition: .4s ease-in-out;
            border-left: 2px solid transparent;
            font-size: ptr(12);
            letter-spacing: .6px;
            font-weight: 500;

            &:first-child {
                margin-top: 14px;
            }

            &:last-child {
                margin-bottom: 14px;
            }

            &:hover {
                border-left: 2px solid $COLOR-WHITE;
            }
        }

        .selectListItemActive {
            @include glassHoverBackground;
            border-left: 2px solid rgba(233, 233, 233, 0.26);
        }
    }

    .selectList {
        border: 1px solid transparent;
        box-shadow: none;
        background: transparent;
    }

    .selectListActive {
        max-height: 225px;
    }
}