@import "../../../../styles/index.scss";

.wrapper {

    .container {

        .orderTitle {
            font-weight: 600;
            font-size: ptr(20);
            line-height: ptr(28);
            text-align: center;
        }

        .orderDescription {
            margin-top: 36px;
            margin-bottom: 50px;
            font-size: ptr(14);
            line-height: ptr(28);
        }

        .infoBlock {
            margin-bottom: 40px;

            .infoBlockTitle {
                display: flex;
                align-items: center;

                & > h2 {
                    font-weight: 600;
                    font-size: ptr(18);
                    line-height: ptr(22);
                    margin-left: 15px;
                }

                & > svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .infoBlockContent {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
            }

            .totalPrice {
                display: inline-block;
                margin-top: 20px;
            }

            &:last-child {
                .infoBlockContent {
                    row-gap: 20px;
                }
            }
        }
    }
}