@import "../../styles/index.scss";

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    .navbarIconList {
        display: flex;
        align-items: center;
        margin-right: -20px;

    //     &:first-child > div:first-child {
    //      //   margin-right: 26px;

    //         @include sm {
    //  //           margin-right: 14px;
    //         }
    //     }

        & > div:first-child {
           margin-right: 10px;
        }

        &:first-child > div:first-child {
            margin-right: 5px;
        }

        .navbarIcon {
            min-width: 66px;
            display: flex;
            justify-content: center;

            @include sm {
                min-width: 44px;

                span {
                    font-size: ptr(7);
                }

                svg {
                    width: 20px;
                }
            }
        }

        @include md {
            .favoriteDesktop {
                display: none;
            }
        }

        @include sm {
            margin-right: -14px;
        }

        // .navbarBurger {
        //   margin-right: 36px;
        // }
    }

    .navbarLogo {
        height: 68px;
        line-height: 68px;
        
        position: fixed;
        left: calc(50% - 80px);
        & a {
            text-decoration: none;
        }

        @include sm {
            left: calc(50% - 64px);
        }
    }
}

.favoriteIcon {
    cursor: pointer;
    display: inline-block;
}

.basket {
    position: fixed;
    top: 0;
    right: -550px;
    width: 420px;
    height: 100%;
    z-index: 999;
    transition: all .4s ease-in-out;
    cursor: default;

    @include sm {
        width: 100%;
    }
}

.basketIcon {
    cursor: pointer;
    position: relative;
}

.navbarSimulator {
    height: 68px;
}

.basketCount {
    background-color: $red-color;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 12px;
    color: $UI-color5;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: -2px;
}