@import "../../styles/index.scss";

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: $COLOR-WHITE;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    .navbarIconList {
        display: flex;
        align-items: center;
        height: 42px;
        margin-right: -10px;

        &:first-child > div:first-child {
            margin-right: 5px;
        }

        .navbarIcon {
            min-width: 56px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: ptr(7);

            & > div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @include sm {
                min-width: 44px;
                height: 38px;

                span[data-icon-label] {
                    font-size: ptr(7);
                }

                svg {
                    width: 20px;
                }
            }
        }

        @include md {
            .favoriteDesktop {
                display: none;
            }

            &, & > div:first-child {
                margin-right: 0;
             }
        }
    }

    .navbarLogo {
        height: 68px;
        line-height: 68px;

        position: fixed;
        left: calc(50% - 80px);
        & a {
            text-decoration: none;
        }

        @include sm {
            left: calc(50% - 68px);
        }
    }
}

.favoriteIcon {
    cursor: pointer;
    display: inline-block;
    height: 100%;
}

.basket {
    position: fixed;
    top: 0;
    right: -590px;
    width: 420px;
    height: 100%;
    z-index: 999;
    transition: all .4s ease-in-out .2s;
    cursor: default;

    @include sm {
        width: 100%;
    }
}

.basketIcon {
    cursor: pointer;
    position: relative;
}

.navbarSimulator {
    height: 68px;
}

.basketCount {
    background-color: $COLOR-DANGER;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 12px;
    color: $COLOR-WHITE;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: -2px;
}