@import "../../styles/index.scss";

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .navBarContainer {
        width: calc(100% - 120px);
        padding: 0 60px;
        margin: 0 auto;

        @include xl {
            width: calc(100% - 80px);
            padding: 0 40px;
        }
        
        @include md {
            width: calc(100% - 40px);
            padding: 0 20px;
        }
    
        @include sm {
            width: calc(100% - 30px);
            padding: 0 15px;
        }
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    .navbarIconList {
        display: flex;
        align-items: center;
        // & > div:first-child {
        //     margin-right: 10px;
        // }

        .navbarIcon {
            min-width: 76px;
            display: flex;
            justify-content: center;
        }
    }

    .navbarLogo {
        height: 68px;
        line-height: 68px;
        
        position: fixed;
        left: calc(50% - 80px);
        & a {
            text-decoration: none;
        }
    }
}

.favoriteIcon {
    cursor: pointer;
    display: inline-block;
}

.basket {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    z-index: 25;
    transition: all .4s ease-in-out;
    cursor: default;
}

.basketIcon {
    cursor: pointer;
}

.basketIcon:hover .basket  {
    right: 0;
}

.navbarSimulator {
    height: 68px;
}