@import "../../../../styles/index.scss";

.wrapper {
    background-color: #FBFBFB;
    background-image: url("/static/images/business-hand-with-mobile-phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin: 0 -60px 0 -60px;
    padding-left: 60px;
    padding: 0 60px;
    width: calc(100% + 120px);
    height: 475px;
    box-sizing: border-box;
    position: relative;

    @include xl {
        width: calc(100% + 100px);
    }

    @include md {
        width: calc(100% + 60px);
        margin: 0 -40px 0 -40px;
    }

    @include sm {
        width: calc(100% + 45px);
        margin: 0 -30px 0 -30px;
        padding: 0 30px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 735px;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(90.41deg, #FBFBFB 0.35%, rgba(251, 251, 251, 0) 98.4%);
    }

    @include sm {
        height: 570px;
        background-image: none;
        &::before {
            background: none
        }
    }

    @include md {
        background-size: cover;
        &::before {
            width: 100%;
        }
    }

    @include xl {
        &::before {
            background: linear-gradient(90.41deg, #FBFBFB 0.35%, rgba(251, 251, 251, 0.54) 98.4%);
        }
    }

    .formWrapper {
        max-width: 660px;
        width: 100%;
        padding: 60px 0;

        .formHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include sm {
                gap: 30px;
                flex-direction: column;
            }

            .formHeaderItem {
                z-index: 2;

                & > h3 {
                    color: $COLOR-COD-GRAY;
                    font-size: ptr(22);
                    font-weight: 500;
                }

                .formHeaderItemText {
                    color: $COLOR-COD-GRAY;
                    font-size: ptr(15);
                }

                .formSavedUser {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    z-index: 20;

                    & > svg {
                        margin-right: 6px;
                        width: 20px;
                        height: 20px;
                    }

                    & > p {
                        color: $COLOR-SILVER-CHALICE;
                        font-weight: 600;
                        font-size: ptr(13);
                        text-decoration: underline;
                    }
                }
            }
        }

        .form {
            width: 100%;
            margin-top: 50px;

            .formRowWrapper {

                display: flex;
                justify-content: space-between;
                gap: 40px;

                @include md {
                    flex-direction: column;
                    gap: 0;
                }

                .formRow {
                    position: relative;
                    width: 100%;
                    margin-bottom: 10px;

                    &.formRowCheckbox {
                        display: flex;
                        align-items: center;
                    }

                    @include sm {
                        margin-bottom: 22px;
                    }

                    .formRowInput {
                        width: 100%;
                        height: 32px;
                        box-sizing: border-box;
                        background-color: transparent;
                        border-color: transparent;
                        border-bottom: 1px solid $COLOR-COD-GRAY;
                        margin-bottom: 5px;
                        outline: none;
                        padding: 0 5px;

                        font-weight: 600;
                        letter-spacing: .5px;
                        color: $COLOR-COD-GRAY;
                        font-size: ptr(14);

                        &:focus ~ .formRowLabel {
                          top: -25px;
                          font-size: ptr(12);
                        }
                    }

                    .formRowCheckbox {
                        -moz-appearance:none;
                        -webkit-appearance:none;
                        -o-appearance:none;
                        cursor: pointer;
                        box-sizing: border-box;
                        position: relative;
                        display: block;
                        min-width: 20px;
                        min-height: 20px;
                        border: 2px solid;
                        border-radius: 4px;

                        &:checked {
                            &:after {
                                content: "";
                                display: block;
                                box-sizing: border-box;
                                position: absolute;
                                left: 2.5px;
                                top: -2px;
                                width: 6px;
                                height: 10px;
                                border-width: 0 2px 2px 0;
                                border-style: solid;
                                transform-origin: bottom left;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    .formRowLabel {
                        color: $COLOR-SILVER-CHALICE;
                        font-size: ptr(14);
                        line-height: ptr(34);
                        position: absolute;
                        top: 0;
                        left: 5px;
                        transition: all .4s;
                        user-select: none;

                        &.formRowLabelCheckbox {
                            position: relative;
                            margin-left: 5px;
                            font-size: 12px;
                            color: $COLOR-COD-GRAY;
                            opacity: .5;
                            line-height: 20px;
                        }
                    }

                    .formRowLabelActive {
                        top: -25px;
                        font-size: ptr(12);
                    }

                    .formRowError {
                        color: #DC143C;
                        font-size: ptr(11);
                        width: 100%;
                        height: 13px;
                        text-align: right;
                        line-height: ptr(18);
                    }
                }
            }
        }

        .ruleModal {
            z-index: 500;
            visibility: hidden;
            position: fixed;
            inset: 0;
            opacity: 0;
            transition: all .4s ease-in-out;

            &.active {

                visibility: visible;
                opacity: 1;
            }
        }
    }
}