@import "../../styles/index.scss";

.categoryTree {
    width: 100%;

    max-height: calc(100vh - 130px);
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        border: 2px solid $COLOR-SILVER-CHALICE;
        &:hover {
            border: 2px solid $COLOR-WHITE;
        }
    }

    .categoryList {
        width: 100%;

        &:not(:first-child) {
            margin-top: 32px;
        }

        .categoryTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            cursor: pointer;

            span {
                font-size: ptr(17);
            }

            svg {
                transform: rotate(90deg);
                transition: all .3s linear;
                path {
                    fill: $COLOR-WHITE;
                }
            }
        }

        .categoryTitleActive {
            svg {
                transform: rotate(180deg);
            }
        }

        .subCategory {
            max-height: 0;
            overflow: hidden;
            overscroll-behavior: auto;
            transition: all .3s linear;

            &::-webkit-scrollbar {
               display: none;
            }

            .subCategotyList {

                .subCategotyItem {

                    margin: 22px 0;

                    a {
                        color: $COLOR-SILVER-CHALICE;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 6px 0;
                        padding-left: 18px;
                        border-left: 2px solid transparent;
                        transition: border-color .2s linear;
                        max-width: calc(100% - 25px);
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        &:hover {
                            border-color: $COLOR-WHITE;
                        }
                    }
                }

                .subCategoryItemActive {
                    a {
                        color: $COLOR-WHITE;
                    }
                }
            }
        }

        .subCategoryActive {

            // max-height: 9999px
        }
    }
}
