@import "../../styles/index.scss";

.categoryTree {
    width: 100%;
    .categoryList {
        width: 100%;

        &:not(:first-child) {
            margin-top: 32px;
        }

        .categoryTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            cursor: pointer;
            
            span {
                font-size: ptr(17);
            }

            svg {
                transform: rotate(90deg);
                transition: all .3s linear;
                path {
                    fill: $UI-color5;
                }
            }
        }

        .categoryTitleActive {
            svg {
                transform: rotate(180deg);
            }
        }

        .subCategory {
            max-height: 0;
            overflow: hidden;
            transition: all .3s linear;

            .subCategotyList {

                .subCategotyItem {

                    margin: 22px 0;

                    a {
                        color: $UI-color2;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 6px 0;
                        padding-left: 18px;
                        border-left: 2px solid transparent;
                        transition: border-color .2s linear;

                        &:hover {
                            border-color: $UI-color5;
                        }
                    }
                }

                .subCategoryItemActive {
                    a {
                        color: $UI-color5;
                    }
                }
            }
        }

        .subCategoryActive {
            max-height: 320px;
        }
    }
}
