@import '../../styles/index.scss';

.breadcrumb {
    display: flex;
    align-items: center;

    .breadcrumbItem {
        display: inherit;
        align-items: inherit;

        a {
            display: inline-flex;
            align-items: inherit;
            text-decoration: none;
            color: $COLOR-COD-GRAY;
            font-weight: 600;
            font-size: ptr(12);
            opacity: 1;
            letter-spacing: .4px;

            svg {
                width: 14px;
                margin-right: 5px;
            }
        }

        &:last-child {
            a {
                color: $COLOR-COD-GRAY;
                opacity: 1;
            }
        }
    }

    .arrowNext {
        display: flex;
        justify-content: center;
        transform: rotate(90deg);
        margin: 0 10px;
        height: 12px;
    }
}