@import "../../styles/index.scss";

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid $UI-color4;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    .navbarIcons {
        & > div:first-child {
            margin-right: 10px;
        }
    }
}

.favoriteIcon {
    cursor: pointer;
    display: inline-block;
}

.basket {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    z-index: 25;
    transition: all .4s ease-in-out;
    cursor: default;
}

.basketIcon {
    cursor: pointer;
}

.basketIcon:hover .basket  {
    right: 0;
}

.navbarSimulator {
    height: 68px;
}