@import "../../styles/index.scss";

.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

.navbarContainer {
    max-width: 1760px;
    padding: 0 12px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;

    .navbarLogo {}

    .navbarIcons {
        & > div:first-child {
            margin-right: 10px;
        }
    }
}

.basket {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    z-index: 25;
    transition: all .4s ease-in-out;
    cursor: default;
}

.basketIcon {
    cursor: pointer;
}

.basketIcon:hover .basket  {
     background-color: red;
        right: 0;
    
   
}