@import "../../styles/index.scss";

.cardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 24%));
    justify-content: space-around;
    grid-row-gap: 25px;
    grid-column-gap: 7px;

    @media (max-width: 1100px) {
        grid-template-columns: repeat(auto-fill, minmax(auto, 31%));
    }
      
    @media (max-width: 645px) {
        grid-template-columns: repeat(auto-fill, minmax(auto, 48%));
    }
      
    @media (max-width: 500px) {
        grid-template-columns: repeat(auto-fill, minmax(auto, 48%));
    }
}