@import "../../styles/index.scss";

.product {
    border-bottom: 1px solid $COLOR-MERCURY;
    padding-bottom: 22px;
    position: relative;
    display: flex;

    .productImage {
        min-width: 90px;
        position: relative;

        img {
            @include radius-sm;
        }
    }

    .productInfo {
        color: $COLOR-COD-GRAY;
        margin-left: 16px;
        flex: 1;

        .productInfoTitle {
            font-weight: 600;
            font-size: ptr(13);
            line-height: ptr(20);
            @include textOverflow(2);
        }

        .productInfoCost {
            font-size: ptr(13);
            font-weight: 600;
            line-height: ptr(20);
            margin-top: 10px;
            @include flexBetween;
        }

        .productQuantity {
            display: flex;
            align-items: center;
            margin-top: 24px;
            margin-left: 4px;

            .productQuantityButton {
                border: none;
                background: none;
                cursor: pointer;
                width: 14px;
                height: 14px;
                padding: 0;

                & > svg {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }

            .productQuantityNumber {
                margin: 0 21px;
                font-size: ptr(14);
                font-weight: 600;
                width: 22px;
                text-align: center;
            }
        }
    }

    .productRemove {
        position: absolute;
        right: 0;
        bottom: 22px;
        border: none;
        background: none;
        cursor: pointer;

        svg {
            width: 20px;
        }
    }
}