@import "../../styles/index.scss";

.menu {
    background-color: $COLOR-COD-GRAY;
    color: $COLOR-WHITE;
    height: 100vh;
    width: 420px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -420px;
    box-sizing: border-box;
    transition: all 0.4s linear;
    z-index: 10;

    @include glassBackground;

    @include md {
        width: 360px;
    }

    @media (max-width: 360px) {
        width: 100%;
    }

    .menuList {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        opacity: 1;
        transition: all .5s linear;

        .menuListItem {

            & a {
                cursor: pointer;
                color: $COLOR-WHITE;
                text-decoration: none;
                font-weight: 600;
                text-transform: uppercase;
                font-size: ptr(20);

                transition: background .15s, fill .3s, color .3s;

                display: flex;
                align-items: center;

                & svg {
                    width: 28px;
                }

                & span {
                    margin-left: 18px;
                }

                padding: 15px 60px;

                @include xl {
                    padding: 15px 40px;
                }

                @include md {
                    padding: 15px 20px;
                }

                @include sm {
                    padding: 15px;
                }

                &:hover {
                    @include glassHoverBackground;
                }
            }
        }
    }

    .menuListHide {
        left: -440px;
        opacity: 0;
    }

    .catalog {
        opacity: 0;
        position: absolute;
        top: 100px;
        left: -440px;
        transition: all .3s linear;
    }

    .catalogActive {
        opacity: 1;
        left: 60px;
        width: calc(100% - 120px);

        @include xl {
            left: 40px;
            width: calc(100% - 80px);
        }

        @include md {
            left: 20px;
            width: calc(100% - 40px);
        }

        @include sm {
            left: 15px;
            width: calc(100% - 30px);
        }
    }

    @media screen and (max-width: 380px) {
        width: 100%;
    }
}

.menuActive {
    left: 0;
}

.catalogBack {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    padding: 0;
    outline: none;
    border: none;
    position: absolute;
    top: 24px;
    right: 60px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50px, 0);
    transition: all .3s linear;
    text-transform: uppercase;

    @include xl {
        right: 40px;
    }

    @include md {
        right: 20px;
    }

    @include sm {
        right: 15px;
    }

    & svg {
        width: 14px;
        height: 13px;
        transform: rotate(-90deg);
        path {
            fill: $COLOR-WHITE;
        }
    }

    & span {
        margin-left: 5px;
        color: $COLOR-WHITE;
        font-size: ptr(13);
        font-weight: 600;
    }
}

.catalogBackActive {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}