.content {
    margin-top: 60px;
}

.steps {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.buttonFiled {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}