@import '../../styles/index.scss';

.content {
    margin-top: 60px;
    height: auto;

.steps {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

    .stepContent {
        margin: 100px 0;
    }
    
    .buttonFiled {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        .nextButton {
            display: flex;
            justify-content: space-between;
            width: 23%;
        }
    }
}
