@import '../../styles/index.scss';

.categoryWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    min-height: calc(100vh - 68px);

    .categoryContent {
        flex: 1;
    }
}

.range {
    width: 90px;
    margin-right: 300px;
}