@import '../../styles/index.scss';

.category {
    background-color: $COLOR-WHITE;
    animation: fadein .4s ease-in-out forwards;

    .categoryWrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        .categoryContent {
            flex: 1;

            .categoryList {
                height: 100%;
            }
        }
    }
}