@import "../../styles/index.scss";

.headerIcon {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .headerIconImage {

        & > svg {
            width: 25px;
            height: 25px;
        }
    }

    .headerIconLabel {
        color: $COLOR-COD-GRAY;
        margin-top: 5px;
        font-size: 8px;
        font-weight: 700;
        letter-spacing: .5px;
        transition: all 0.3s linear;

        &.light {
            color: $COLOR-WHITE;
        }
    }
}