@import "../../styles/index.scss";

.headerIcon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    // min-width: 68px;

    .headerIconImage {
        
        & > svg {
            width: 26px;
            height: 26px;
        }
    }

    .headerIconLabel {
        margin-top: 4px;
        font-size: 8px;
        font-weight: 600;
        transition: all 0.3s linear;
    }
}