@import "../../styles/index.scss";
@import url('http://fonts.cdnfonts.com/css/days-2');

.headerTitle {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    z-index: 6;

    .title {
        font-family: 'Days';
        font-size: ptr(60);
        font-weight: normal;
    }

    .button {
        border: none;
        background-color: $UI-color5;
        color: $UI-color1;
        font-family: "Montserrat";
        font-size: ptr(16);
        font-weight: bold;
        width: 232px;
        height: 48px;
        backdrop-filter: blur(15px);
        border-radius: 36px;
        margin-top: 46px;
        cursor: pointer;
    }

    @include lg {
        .title {
            font-size: ptr(50);
        }

        .button {
            font-size: ptr(14);
            width: 212px;
            height: 44px;
        }
    }

    @include md {
        .title {
            font-size: ptr(40);
        }

        .button {
            margin-top: 34px;
            font-size: ptr(14);
            width: 182px;
            height: 40px;
        }
    }
}