@import "../../styles/index.scss";
@import url('http://fonts.cdnfonts.com/css/days-2');

.headerTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 8;
    user-select: none;

    .title {
        font-family: 'Days';
        font-size: ptr(60);
        font-weight: normal;
    }

    .button {
        border: none;
        background-color: $UI-color5;
        color: $UI-color1;
        font-family: "Montserrat";
        font-size: ptr(16);
        font-weight: bold;
        width: 232px;
        height: 48px;
        backdrop-filter: blur(15px);
        border-radius: 36px;
        margin-top: 46px;
        cursor: pointer;
    }

    @include lg {
        .title {
            font-size: ptr(50);
        }

        .button {
            font-size: ptr(14);
            width: 212px;
            height: 44px;
        }
    }

    @include md {
        .title {
            font-size: ptr(40);
        }

        .button {
            margin-top: 34px;
            font-size: ptr(14);
            width: 182px;
            height: 40px;
        }
    }

    @include sm {
        .title {
            font-size: ptr(30);
        }
    }

    @media screen and (max-width: 400px) {
        .title {
            font-size: ptr(29);
            line-height: ptr(32);
        }
    }
}