@import "../../styles/index.scss";

.footer {
    background-color: $COLOR-WHITE;

    .footerCopyright {
        color: $COLOR-COD-GRAY;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        font-size: ptr(11);
        font-weight: 600;
    }
}