@import "../../styles/index.scss";



.footer {
    background-color: $UI-color1;
    
    .footerCopyright {
        color: $UI-color5;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        font-size: ptr(11);
        font-weight: 500;
    }
}