@import "../../styles/index.scss";

.logo {
    font-family: 'Montserrat', sans-serif;
    color: $COLOR-COD-GRAY;
    font-weight: 400;
    letter-spacing: 0.14em;
    font-size: ptr(32);
    width: 160px;
    text-align: center;

    &.light {
        color: $COLOR-WHITE;
    }

    @include sm {
        font-size: ptr(26);
        width: 128px;
    }
}