@import "../../styles/index.scss";

.logo {
    font-family: 'Montserrat', sans-serif;
    color: $UI-color5;
    font-weight: 500;
    letter-spacing: 0.11em;
    font-size: ptr(32);
    width: 160px;
    text-align: center;

    @include sm {
        font-size: ptr(26);
        width: 128px;
    }
}