@import '../../styles/index.scss';

.categoryWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    min-height: calc(100vh - 68px);

    .categoryContent {
        flex: 1;

        .categoryToolbar {
            width: 100%;
            height: 70px;
            position: sticky;
            top: 68px;
            z-index: 5;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .categoryList {

        }
    }
}

.range {
    width: 90px;
    margin-right: 300px;
}