@import "../../styles/index.scss";

.wrapper {
    min-height: calc(100vh - 68px - 51px);
    display: flex;
    flex-direction: column;

    .breadcrumb {
        padding: 20px 0;
    }

    .content {
        width: 100%;
        display: flex;
        color: $COLOR-COD-GRAY;
        padding-bottom: 50px;
        font-weight: 600;

        .leftPart {
            flex: 1 1;
            max-width: 500px;

            img {
                @include radius-sm;
            }
        }

        .rightPart {
            flex: 1.2 ;
            max-width: 786px;
            margin-left: 34px;
            margin-top: 25px;

            .productNamePrice {
                margin-bottom: 20px;

                & > p {
                    font-size: ptr(20);
                    line-height: ptr(26);
                    margin-bottom: 15px;
                }

                .productPrice {
                    margin-top: 20px;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 20px;
                }

                .productDiscount {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    line-height: 20px;

                    .productNewPrice {
                        font-size: 17px;
                        font-weight: 600;
                        color: $COLOR-DANGER;
                        margin-right: 16px;
                    }

                    .productOldPrice {
                        position: relative;
                        font-size: 14px;
                        font-weight: 600;

                        @include lineThrough;
                    }
                }
            }

            .bulkPrice {
                cursor: default;

                .bulkPriceTitle {
                    display: flex;
                    align-items: center;
                    color: $COLOR-SILVER;

                    p {
                        font-size: 12px;
                        font-weight: 600;
                        margin-right: 6px;
                    }

                    .bulkPriceTooltip {
                        position: relative;

                        .icon {
                            cursor: pointer;
                        }

                        .tooltipInfo {
                            visibility: hidden;
                            opacity: 0;
                            display: block;
                            text-align: center;
                            min-width: 277px;
                            @include radius-sm;
                            position: absolute;
                            left: -100px;
                            top: 25px;
                            font-size: 11px;
                            line-height: 18px;
                            font-weight: 600;
                            padding: 12px 8px;
                            @include glassBackground;
                            transition: all .3s ease-in-out .2s;
                        }

                        .icon:hover + .tooltipInfo {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                .bulkPriceList {
                    display: flex;
                    gap: 12px;
                    margin: 12px 0;

                    .bulkPriceItem {
                        @include flexCenter;
                        @include radius-sm;
                        padding: 8px 12px;
                        background-color: $COLOR-MERCURY;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }

            .productAvailability {
                margin-top: 26px;
                border-bottom: 2px solid #ececec7a;
                padding-bottom: 7px;
                font-size: ptr(12);
                font-weight: 600;
                letter-spacing: .3px;
                .cardAvailabilityRed {
                    color: $COLOR-DANGER;
                }

                .cardAvailabilityGreen {
                    color: $COLOR-SUCCESS;
                }
            }

            .addButtons {
                margin: 35px 0;

                button {
                    width: 100%;
                    margin: 15px 0;
                }
            }

            .productLink {
                display: inline-flex;
                align-items: center;
                margin-top: 10px;
                opacity: .4;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0;

                & > p {
                    color: $COLOR-COD-GRAY;
                    font-size: ptr(11);
                    font-weight: 600;
                    margin-right: 8px;
                }

                & > svg {
                    width: 12px;
                    height: 12px;
                }
            }

            .productDescriptions {
                font-size: ptr(13);
                line-height: ptr(28);
            }
        }

        .productModalWarning {
            position: fixed;
            bottom: 60px;
            right: -200px;
            background-color: $COLOR-COD-GRAY;
            color: $COLOR-WHITE;
            padding: 16px 24px;
            border-radius: 4px;
            font-size: ptr(11);
            font-weight: 600;
            box-shadow: 3px 4px 9px 1px rgba(82, 82, 82, 0.44);
            transition: all 0.4s ease-in-out;
        }

        .productModalWarningShow {
            right: 20px;
        }

        @include md {
            flex-direction: column;
            align-items: center;

            .leftPart, .rightPart {
                max-width: 700px;
                width: 70%;
            }
            .rightPart {
                margin-left: 0;
            }
        }

        @media screen and (max-width: 600px) {
            .leftPart, .rightPart {
                width: 100%;
            }
        }

        @include sm {
            .rightPart {
                margin-top: 25px;
                .productNamePrice > p {
                    font-size: ptr(17);
                }
            }
        }
    }
}