@import '../../styles/index.scss';

.content {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-size: ptr(18);
    border-bottom: 1px solid $UI-color4;
}