@import '../../styles/index.scss';


.favoriteList { 
    min-height: calc(100vh - 706px);

    & > p {
        font-size: ptr(14);
        text-align: center;
        margin-top: 26px;
    }
}

.wrraper {
    padding-bottom: 40px;
}