@import "../../styles/index.scss";


.navbarMenu {
    display: flex;
    height: 100%;
    position: relative;
}

.category {
    font-size: ptr(17);
    height: 100%;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    a {
        cursor: pointer;
    }
}

.subCategory{
    display: none;
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
}

.subCategotyWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;

    li {
        margin: 10px 0;
        width: 50%;
    }
    
    .categoryListItem {
        display: inline-block;
        white-space: nowrap;
        color: $UI-color1;
        font-size: ptr(15);
        line-height: ptr(20);
        cursor: pointer;
        text-decoration: none;
        
        &:after {
            content: '';
            transition: width .4s;
            height: 2px;
            width: 0;
            margin-top: 3px;
            background-color: $UI-color2;
            display: block;
        }

        &:hover:after {
            width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.category:hover {
    background-color: $UI-color4;
}

.category:hover .subCategory{
    display: block;
    background-color: $UI-color4;
}