@import '../../../../styles/index.scss';

.basketActual {
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);

    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
}

.basketText {
    font-size: ptr(22);
    font-weight: 500;
    line-height: ptr(27);
    margin-bottom: 36px;
    color: $COLOR-COD-GRAY;
}