.__global-layout {
    transition: all .8s ease-in-out;
    min-height: calc(100vh - 68px);
}

.container {
    max-width: 1110px;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container-xl {
    width: calc(100% - 120px);
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1200px) {
    .container-xl {
        width: calc(100% - 80px);
    }
}

@media (max-width: 768px) {
    .container-xl {
        width: calc(100% - 40px);
    }
}

@media (max-width: 580px) {
    .container-xl {
        width: calc(100% - 30px);
    }
}