
// ------------ Variables ------------

$COLOR-COD-GRAY: #1C1C1C;
$COLOR-SILVER-CHALICE: #AAAAAA;
$COLOR-SILVER: #BBBBBB;
$COLOR-MERCURY: #ececece6;
$COLOR-WHITE: #FFFFFF;

$COLOR-SUCCESS: #25CB55;
$COLOR-DANGER: #D0021B;