@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "libraries/nprogress";

@function ptr($px) {
    @return #{$px/16}rem;
}

// ------------ Variables ------------

$UI-color1: #232021;
$UI-color2: #595755;
$UI-color3: #BBBBBB;
$UI-color4: #E8E8E8;
$UI-color5: #FDFDFD;

$red-color: #DC143C;
$green-color: #2EAE62;

.container {
    max-width: 1110px;
    padding: 0 16px;
    margin: 0 auto;
}

.container-xl {
    max-width: 2620px;
    padding: 0 34px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container-xl {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .container-xl {
        padding: 0 16px;
    }
}

@media (max-width: 580px) {
    .container-xl {
        padding: 0 12px;
    }
}

// ------------ Mixins ------------

@mixin sm {
    @media (max-width: 580px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}

html,
body {
	margin: 0;
  font-family: arial,helvetica;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

footer,
header {
  color: #fff;
  text-align: center;
  padding: 10px;
}

header {
  background-color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #556270;
}

footer {
   color: #000;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0px 25px;
  
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a.active,
a:hover {
  color: #C44D58;
}

button {
  width: 50px;
  padding: 8px;
}

.btnGroup {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}