@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import "libraries/nprogress";


@function ptr($px) {
    @return #{$px/16}rem;
}

// ------------ Variables ------------

$UI-color1: #1A1A1A;
$UI-color2: #AAAAAA;
$UI-color3: #BBBBBB;
$UI-color4: #E8E8E8;
$UI-color5: #FFFFFF;

$red-color: #DC143C;
$green-color: #2EAE62;

.global-wrapper {
    color: $UI-color5;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1110px;
    padding: 0 16px;
    margin: 0 auto;
}

.container-xl {
    width: calc(100% - 120px);
    // padding: 0 60px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1200px) {
    .container-xl {
        width: calc(100% - 80px);
        // padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .container-xl {
        width: calc(100% - 40px);
        // padding: 0 20px;
    }
}

@media (max-width: 580px) {
    .container-xl {
        width: calc(100% - 30px);
        // padding: 0 15px;
    }
}

// ------------ Mixins ------------

@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 580px) {
        @content;
    }
}