@import "../../styles/index.scss";

.GoAhead {
    opacity: .8;

    .GoAheadDesktop, .GoAheadMobile {
        flex-direction: column;
        align-items: center;

        span {
            margin-bottom: 24px;
            color: $COLOR-WHITE;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.11em;
        }
    }

    @media (hover: none) { // touch device
        .GoAheadDesktop {
            display: none;
        }

        .GoAheadMobile {
            display: flex;
        }
    }

    @media (hover: hover) { // mouse device
        .GoAheadDesktop {
            display: flex;
        }

        .GoAheadMobile {
            display: none;
        }
    }
}